<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Keemia kalulaator</title>
</head>

<body>
    <div class="header-container">
        <a href="/main">
            <span>Keemia kalkulaator</span>
        </a>
    </div>
    <div class="content-wrapper">
        <div class="container-header">
            Tere tulemast keemia võrratuste kalkulaatori veebilehele!
        </div>
        <a href="/calc" class="href"><button id="start-button">Vajutage, et alustada</button></a
      >
    </div>
  </body>
</html>